:root {
    --backgroundColor: #202123;
    --titlesColor: #f1f2f2;
    --hoverColor: #dededf;
    --borderColor: #2b2c2e;
    --inputBackgroundColor: #2b2c2e;
    --borderHoverColor: #4683f7;
    --inputFontColor: #e8e8e9;
    --fontColor: #7c7d7f;
}

#aside{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--backgroundColor);
}

.aside__navs {
    gap: 18px;
}

.aside__tasky,
.aside__div2,
.aside__nightMode,
.aside__user{
    padding: 0px 20px;
    position: relative;
    width: 240px;
}

.aside__navs,
.aside__nav {
    width: 240px;
}

.aside__tasky{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px;
    border-top: 1px solid var(--borderColor);
    border-right: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
}

.aside__tasky__anchor {
    display: flex;
    align-items: center;
}

.aside__tasky__anchor > img {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid var(--borderColor);
}

.aside__tasky__title, 
.aside__folder__titles h3,
.aside__user__titles h3 {
    color: var(--titlesColor);
}

.nav__list__item__a,
.nav__title,
.aside__folder__titles p,
.aside__user__titles p{
    color: var(--fontColor);
}

.aside__user__titles > h3 {
    font-size: 14px;
}

.aside__folder__titles, 
.aside__user__titles{
    display: flex;
    flex-direction: column;
}

.aside__folder {
    padding: 20px 0px;
}

.aside__folder,
.aside__user {
    display: flex;
    position: relative;
    align-items: center;
}

.aside__folder__img,
.aside__user__img {
    width: 50px;
    height: 50px;
    padding: 2px;
}

.aside__folder__updownArrows,
.aside__user__downArrow {
    width: 15px;
    height: 15px;
}

.aside__folder__updownArrows {
    position: absolute;
    right: 0px;
}

.aside__input {
    position: relative;
}

.aside__input__img{
    width: 15px;
    position: absolute;
    top: 12px;
    left: 9px;
}

.aside__input__searchBar {
    padding-left: 30px;
    height: 40px;
    border: none;
    background-color: var(--inputBackgroundColor);
    color: var(--inputFontColor);
    width: 95%;
    border-radius: 10px;
}

.aside__nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
    width: 240px;
}

.nav__title,
.aside__folder__titles p,
.aside__user__titles p{
    font-size: 12px;
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 240px
}

.nav__title {
    padding: 0px 20px;
}

.nav__list__item {
    display: flex;
    align-items: center;
    height: 50px;
    width: 240px;
    padding: 0px 20px 0px 20px;
    position: relative;
}

.nav__list__item > div {
    text-decoration: none;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    width: 200px;
    border-bottom: 1px solid var(--borderColor);
}

.nav__list__item__a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    width: 100%;
    height: 30px;
}

.nav__list__item__a:hover{
    color: var(--hoverColor);
}

.li__icon {
    width: 18px;
    height: 18px;
}

.list__item__additional {
    width: 17px;
    height: 17px;
    position: absolute;
    right: 20px;
}

.aside__nightMode,
.aside__user{
    position: relative;
    top: 100px;
}

.aside__nightMode__img {
    width: 180px;
}

.aside__user__img {
    border-radius: 50%;
}

.aside__user__downArrow{
    position: relative;
    left: 20px;
}

.nav__list__item:hover {
    border-left: 1px solid var(--borderHoverColor);
}

@media (max-height: 768px) {
    #aside, .aside__navs{
        gap: 1vh;
    }
    /* #aside {
        padding: 5px;
    } */
}