.barra {
    display: flex;
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    padding: 20px;
    border: 1px solid #3e3f41;
}
.menu {
    display: flex;
    gap: 30px;
}

.menu__items {
    text-decoration: none;
    color: #535558;
}

/* teste
menu__items a:hover {
    color: red;
    transition: 500ms all;
}*/

.link__active {
    position: relative;
    color: #ffffff;
}

.link__active::after {
    background: #497ff8;
    bottom: calc(50% - 30px);
    content: "";
    height: 2px;
    position: absolute;
    right: 50%;
    transform: translate(50%, -50%);
    width: 90%;
    z-index: 1;
}

.button__background {
    background: #171819;
    padding: 12px;
    border: none;
    border-radius: 4px;
}

.button__background svg {
    fill: #535558;

}

.button__selected {
    background: #27282b;
}

.side__color {
    color: #535558;
}

