* {
    border: 1px solid red;
}

.container{
}



p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 90px;
    color: aliceblue;
    flex-direction: row;
}

.perfil3 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 50px;
    border: 2px solid #171819;

}

.perfil2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 80px;
    border: 2px solid #171819;
}

.perfil1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 110px;
    border: 2px solid #171819;
}

.perfil__imagem {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 140px;
    border: 2px solid #171819;
}

.routes__names {
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    color: #3e3f41;
}

.routes__icons {
    color: #3e3f41;
    width: 16px;
    height: 16px;
}

.button {
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: #171819;
    color: aliceblue;
    border: 1px solid #3e3f41;
    border-radius: 8px;
    cursor: pointer;
}

.button__circular {
    padding: 15px 15px;
    background-color: #171819;
    color: aliceblue;
    border: 1px solid #3e3f41;
    border-radius: 50%;
    cursor: pointer;
}