.routes {
    padding: 3.5rem 10px 10px;
    background-color: #171819;
}

.breadcrumb {
    display: flex;
    align-items: center;
    fill: #3e3f41;;
}

.breadcrumb a {
    text-decoration: none;
    color: #3e3f41;;
}

.breadcrumb svg {
    margin: auto 10px;
    color: #3e3f41;
}

.grouped_area {
    display: flex;
    justify-content: space-between;
}

.brand h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    font-weight: unset;
    color: aliceblue;
    margin: 0 auto;
}

.members_area {
    display: flex;
    align-items: center;
    gap: 20px;

}

.avatars {
    position: relative;
    width: 100px;
    display: flex;
    align-items: center;
}

.avatars img,
.avatar_fourth {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #171819;
    position: absolute;
}

.avatar_second {
    left: 20px;
}

.avatar_third {
    left: 40px;
}

.avatar_fourth {
    left: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #171819;
    color: #3e3f41;;
    border: 1px solid #3e3f41;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {

    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: #171819;
    color: aliceblue;
    border: 1px solid #3e3f41;
    border-radius: 8px;
    cursor: pointer;

    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
}

.button__circular {
    border-radius: 50%;
}

.button__circular svg {
    fill: #fff;
}